.header-navbar .navbar-nav {
  align-items: center;
}

@media (min-width: 992px) {
  .header-navbar .navbar-collapse {
    display: flex !important;         
    justify-content: center !important;
    position: static;    
    width: auto;
  }

  .header-navbar .navbar-nav {
    flex-direction: row;
  }

  .header-navbar .nav-link {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  .header-navbar .navbar-brand {
    z-index: 5;
  }
}

@media (max-width: 991.98px) {
  .header-navbar .navbar-collapse {
    position: static;
    transform: none;
  }
}
