.container {
  margin-top: 80px;
}
.login-welcome{
  translate: -20px;
}
.container h1 {
  font-size: 35px;
  font-weight: bold;
}
p {
  font-size: 20px;
}
.login-welcome {
  width: 540px;
}
.heading{
  font-size: 17px;
  font-weight: bold;
}
.description{
  font-size: 15px;
}
.container h2{
  font-size: 30px;
  font-weight: bold;
}
.form-description{
  font-size: 17px;
}

